/*
    Mobile Menu Core Style
*/

.mm_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.mm_menu  .mm_menutxt { display: block; line-height: 1.188em; float: left; }
.mm_menu .mm_icon { float: left; margin: 0.188em 0 0 0.438em; }
.mm_menu .mm_no-text { margin: 0 }
.mm_menu .mm_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.mm_btn .mm_icon-bar + .mm_icon-bar { margin-top: 0.188em }
.mm_nav { clear: both }
.mm_nav ul,
.mm_nav li { display: block }
.mm_nav .mm_arrow { font-size: 0.8em }
.mm_nav .mm_item { display: block; cursor: pointer; }
.mm_nav a { display: block }
.mm_nav .mm_item a { display: inline }
.mm_menu:before,
.mm_menu:after { content: " "; display: table; }
.mm_menu:after { clear: both }
/* IE6/7 support */
.mm_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.mm_menu {
	font-size:16px;
}
/* Button */
.mm_btn {
	margin: 5px 5px 6px;	
	text-decoration:none;	
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;  
	background-color: #222222;
}
/* Button Text */
.mm_menu  .mm_menutxt {	
	color: #FFF;
	font-weight: bold;	
	text-shadow: 0 1px 3px #000;	
}
/* Button Lines */
.mm_menu .mm_icon-bar {
  background-color: #f5f5f5;
}
.mm_menu {
	background:#4c4c4c;
	padding:5px;
}
.mm_nav {
	color:#fff;
	margin:0;	
	padding:0;
	font-size:0.875em;
}
.mm_nav, .mm_nav ul {
	list-style: none;
	overflow:hidden;
}
.mm_nav ul {
	padding:0;
	margin:0 0 0 20px;
}
.mm_nav .mm_item {
	padding:5px 10px;
	margin:2px 5px;
}
.mm_nav a{
	padding:5px 10px;
	margin:2px 5px;
	text-decoration:none;
	color:#fff;
}
.mm_nav .mm_item a {
	padding:0;
	margin:0;
}
.mm_nav .mm_item:hover {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#ccc;
	color:#fff;	
}
.mm_nav a:hover{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background:#ccc;
	color:#222;
}
.mm_nav .mm_txtnode {
     margin-left:15px;   
}